<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileShare</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section class="uploadContainer">
      <div class="dropZone">
        <div class="iconContainer">
          <img
            src="svg/file.svg"
            alt="file icon"
            class="center"
            draggable="false"
          />
          <img
            src="svg/file.svg"
            alt="file icon"
            class="left"
            draggable="false"
          />
          <img
            src="svg/file.svg"
            alt="file icon"
            class="right"
            draggable="false"
          />
        </div>
        <div class="title">
          Drop your Files here or, <span class="browseBtn">browse</span>
        </div>
      </div>
    </section>
  </body>
</html>
